################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/packages/Newtonsoft.Json.9.0.1
/ShowJSON/bin
/ShowJSON/obj
/ShowJSON/packages.config
